{% assign item = order.line_items[0]%} {%capture student%}
{{item.properties.Nombre}} {{item.properties.Apellido}} {%endcapture%} {%capture
parent%} {{order.billing_address.first_name}}
{{order.billing_address.last_name}}<sup>*</sup> {%endcapture%}

<header class="flexbox-parent">
  <img
    src="https://github.com/gogvale/pruebaPDF/raw/master/logos/cengage.png"
    style="width: 50vw;"
    alt="Cengage Logo"
  />
  <img
    src="https://github.com/gogvale/pruebaPDF/raw/master/logos/myebooks.png"
    style="height: 5.5em;padding-left: 5em;"
    alt="Myebooks Logo"
  />
</header>
<div class="content">
  <h1 id="title" class="font-title">
    Certificado de donación de libro
  </h1>

  <ul>
    <li>Institución</li>
    <p>
      Tecnológico de Estudio Superiores de Ecatepec
    </p>
    <li>Nombre del estudiante</li>

    <p id="nombre">
      {%if student.size > 3%} {{student}} {%else%} {{parent}} {%endif%}
    </p>
    <li>Fecha</li>
    <p id="fecha">
      {{ order.created_at | date: "D/M/Y" }}
    </p>

    <li>Titulo</li>
    <p id="titulo">
      {{item.name | split: '(' | first }}
    </p>
    <!-- Only shows if there's parenthesis on title -->
    {% assign myarray = item.name | split '(' %} {% if myarray.size > 1 %}
    <li>Autor</li>
    <p id="autor">
      {{ item.name | split:'(' | last | split:')' | first }}
    </p>
    {% endif%}
    <li>ISBN</li>
    <p id="isbn">
      {{ item.sku | split:'_' | first | default:"N/D" }}
    </p>

    <li>Número de Orden</li>
    <p id="orden">
      {{order.name}}
    </p>
  </ul>

  <h1 class="font-title subtitle">
    Imprime este certificado y preséntalo en la biblioteca de la institución
  </h1>
  <hr />
  <div class="privacy-warning">
    <p>
      <b>CENGAGE LEARNING EDITORES S.A. DE C.V.</b> con domicilio en Av.
      Carretera México-Toluca 5420 Int. 2301, El Yaqui, Cuajimalpa, 05320,
      México D.F. es responsable de recabar sus datos personales, el uso que se
      les dé a los mismos, así como la protección de dichos datos. Su
      información personal será utilizada para comunicación comercial en general
      o para la atención de quejas y aclaraciones.
    </p>
    <p>
      Para las finalidades antes mencionadas, requerimos de sus datos generales.
      Usted tiene derecho a Acceder, Rectificar y Cancelar sus datos personales,
      así como de oponerse al tratamiento de los mismos o revocar el
      consentimiento que para tal fin nos otorgue, para lo cual se puede poner
      en contacto en la siguiente dirección de correo:
      <a href="mailto:aviso.privacidad@cengage.com"
        >aviso.privacidad@cengage.com</a
      >
      . Se le recomienda que cada vez que realice cambios en sus datos, lo haga
      de nuestro conocimiento.
    </p>
    <p>
      Los datos serán tratados de conformidad con la
      <b
        >Ley Federal de Protección de Datos Personales en Posesión de
        Particulares.</b
      >
    </p>
  </div>
</div>
<img
  id="stop-img"
  src="https://raw.githubusercontent.com/gogvale/pruebaPDF/master/logos/circle.png"
  alt="Be Unstoppable"
/>
